
  .signup-form {
    width: 350px;
    color: whitesmoke;
    text-align: center;
  }
  .modal-size{
    width: 380px !important;
  }

  .hr1{
    border-color: white;
    color: whitesmoke;
  }
  .signup-form form {
    border-radius: 5px;
      margin: 5px;
        background-color:dimgray ;
        box-shadow: 2px 4px 4px rgba(4, 3, 3, 2);
        padding: 10px;
    }

    .signup-form .hint-text {
      color: dimgray;
      text-align: center;
    }

.form-control{
  /* align:center; */
  margin-left: 30px;
  text-align: center;
}
  .signup-form .btn {
    font-size: 20px;
text-align: center;
}

.signup-btn {
text-align: center;
margin-left: 30%  !important;

}

.signup-btn:hover {
    background: rgb(7, 158, 7)     !important;
  }
