.gap{
   margin-right: 20px;
 }
 .up{
   margin-top: 2px;
 }
 .white{
    color: white;
 }
 .white:hover{
    color:lightgray
 }
.sub-footer  {
	background:#363636;
   padding-top:30px;
   color: floralwhite;
   text-align: center;
}

.mobile{
  margin-left: -1cm;
}

.form-group{
  padding: 5px;
  width: 80%;
}

.link-color{
color:white;
}
/*------------------------------------------------------*/
